* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(21, 2, 42);
  color: white;
  font-family: 'poppins', sans-serif;
}
nav{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: aliceblue;
  position: fixed;
  top: 0px;
  width: 100%;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin:0 20px ;
  color: rgb(21, 2, 42);
}
nav ul li a{
  text-decoration: none;
}
nav ul li a:hover{
  color: rgb(241, 49, 241);
  font-size: 1.1rem;
}
.left{
  font-size: 1.5rem;
  color: rgb(21, 2, 42);
}
.first{
  display: flex;
  justify-content:space-around;
  margin: 60px 0;
}
.first >div{
  width: 35%;
}
.leftsection{
  
  color: aliceblue;
  font-size: 2rem;
  margin: 90px;
  height: 50px;
  padding-top: 150px;
 
}
.rightsection img{
  /* background-color: aliceblue; */
 width: 90%;
 margin: 0px;
 display: flex;
 padding-top: 100px;
}
.purple{
  color: rgb(210, 124, 239);
  font-family: poppins
}
#element {
  color:  rgb(210, 124, 239);

}
#about{
  padding-top: 100px;
}
.about h1{
  font-family: 20px;
  font-family: 'poppins',sans-serif;
 margin-inline-start: 90px;
  display: flex;
  padding: auto;
}

.about h2{
    font-family: 20px;
    font-family: 'poppins',sans-serif;
   margin-inline-start: 90px;
    display: flex;
    padding: auto;
  
}
.about p{
  margin-inline-start: 90px; 
 margin-inline-end: 50px;
  padding-bottom: 10PX;
}
.about h3  {
  margin-inline-start: 90px; 
  padding-top: 10px;
  padding-bottom: 0px;
}
.html1{
  display: flex;
  width: 200px;
  height: 200px;
  padding-top: 150px;
  padding-left: 90px;
}
.skills h1{
  margin-inline-start: 90px;
  padding-top: 90px;

}
.css1{
  display: flex;
  width: 200px;
  height: 200px;
  padding-top: 150px;
  padding-left: 90px;
}
.js1{
  display: flex;
  width: 200px;
  height: 200px;
  padding-top: 150px;
  padding-left: 90px;
}
.figma1{
  display: flex;
  width: 200px;
  height: 200px;
  padding-top: 150px;
  padding-left: 90px;
} */

.column {
  float: left;
  width: 40%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 20%;
  padding: 60px;
}
.Achievements h1{
  margin-inline-start: 30px;
  padding-top: 50px;
}
.Achievements ul{
  margin-inline-start: 90px;
  padding-top: 50px;
  
}
.Achievements li{
  margin-inline-start: 90px;
  padding-top: 50px;
  list-style-type: disc;
}


.Resume{
  margin-inline-start: 50px;
  padding-top: 3px;
  
  
}
#Resume{
  color: aliceblue;
  margin-inline-start: 40px;
  
  
}
.xyz{
  color: white ;
  padding: 20px;
  margin-inline-start: 50;
}


.one{
  float: left;
  margin-left: 50px;
  width: 550px;
  height: 350px;
  padding: 50px;
}
.two{
float: right;
margin-right: 50px;
width: 550px;
height: 350px;
padding: 50px;
}